<h1>USERS</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |u| %> <!-- no equal sign in the embedded ruby tag around a loop -->
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= link_to "Delete this user!", @user, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
  <% end %>
  </tbody>
</table>