<div class="nav-bar">
	<%= link_to 'Log Out' %>
	<%= link_to 'Dashboard' %>

	<img src="" />

	<%= link_to 'Main TV Seasons List', tv_seasons_path %>
	<%= link_to 'New TV Season', new_tv_season_path %>
</div>